{% extends "base.html" %}{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Experimental</h1>
        <p class="subhead">Hub of creativity. Nothing but project-based learning, where you engage in hands-on projects to develop your skills. Develop innovative solutions with other members to bring them to life through our experimental approach. Join us in our pursuit of knowledge and innovation.</p>
        <svg class="down-arrow" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
        </svg>
            
    </section>
    <section class="more-info">
        <div class="feature">
            <div class="content">
                <p class="title">Limitless</p>
                <p class="desc">Welcome to the knowledge age. Artificial intelligence is paving the way in bridging educational and academic gaps. Take advantage and don't shy away from committing to your ideas. Join us in our revolutionary leaps of technology.</p>
            </div>
            <img src="../static/assets/mask.jpg" alt="Futuristic Woman With Mask">
        </div>
        <div class="feature reverse">
            <div class="content">
                <p class="title">Resourceful</p>
                <p class="desc">Opportunity awaits. We don't let reputation or the industry undervalue our members. We are committed to providing free and valuable resources to ALL, with opportunities and internships we seek out. Join us in our mission for equal opportunity.</p>
            </div>
            <img src="../static/assets/desk.jpg" alt="Man Using Futuristic Computer">
        </div>
        <div class="feature">
            <div class="content">
                <p class="title">The World is Yours</p>
                <p class="desc">Make your dreams come true. Technology is enabling innovations unheard of. Take advantage and let your mind go wild.</p>
            </div>
            <img src="../static/assets/city.jpg" alt="Futuristic City">
        </div>

    </section>
    </div>

    <script>
    const menu = document.querySelector('.menu')
    const close = document.querySelector('.close')
    const nav = document.querySelector('nav')

    menu.addEventListener('click', () => {
        nav.classList.add('open-nav')
    })

    close.addEventListener('click', () => {
        nav.classList.remove('open-nav')
    })
    </script>
{% endblock %}

