<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Website</title>
</head>
<body>
    <h1 style="align-items: center;">A website to gather some memes!</h1>
    <p style="align-items: center;">Here is your meme! This will refresh in 30 seconds!</p>
    <p style="align-items: center;"><img src="{{meme_pic}}"</p>
    <p style="align-items: center;">Current subreddi: {{subreddit}}</p>
</body>
</html>