<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% block css_file %} {% endblock %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="hero-img"></div>
        <div class="wrapper">
            <header>
                <a href="home" class="logo">Post<span>Pilot</span></a>
                <nav>
                    <svg class="close" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="11" x2="11" y2="1" stroke="black" stroke-width="2"/>
                        <line x1="1" y1="1" x2="11" y2="11" stroke="black" stroke-width="2"/>
                    </svg>
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="product">Product</a></li>
                        <li><a href="resources">Resources</a></li>
                        <li><a href="about">About</a></li>
                    </ul>
                </nav>
                <svg class="menu" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 32H0V26.6667H24V32ZM48 18.6667H0V13.3333H48V18.6667ZM48 5.33333H24V0H48V5.33333Z" fill="white"/>
                </svg>
                
            </header>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
        <script src="../static/scripts/menu.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #1925a6">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">About us</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Products</a>
                </h6>
                </div>
                <!-- Grid column -->
  
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Contact</a>
                </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="my-5" />
    
            <!-- Section: Text -->
            <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                    distinctio earum repellat quaerat voluptatibus placeat nam,
                    commodi optio pariatur est quia magnam eum harum corrupti
                    dicta, aliquam sequi voluptate quas.
                </p>
                </div>
            </div>
            </section>
            <!-- Section: Text -->
    
            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="https://x.com/ZeinDev" class="text-white me-4" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:zeindevelop@gmail.com" class="text-white me-4" target="_blank">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://www.linkedin.com/in/abdallah-abdel/" class="text-white me-4" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/AbdallahZein12" class="text-white me-4" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div
            class="text-center p-3"
            style="background-color: rgb(32, 74, 213)"
            >
            © 2024 Copyright:
            <a class="text-white" href="#"
            >ZeinDev</a
            >
        </div>
        <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
</html>

