{% extends "base.html" %}
{% block css_file %}
    {{ url_for('static',filename='styles/home/style.css') }}
{% endblock %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <section class="hero">
        <div class="hero-img"></div>
        <div class="hero-text">
            <h1>Upload Here!</h1>
            <p class="subhead">We prioritize the security of your files by encrypting them! 
                Our system clears all session information immediately after you're done, 
                so enjoy a seamless, secure, and FREE! experience.</p>
        
        <svg class="down-arrow" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
        </svg>
        </div>
    </section>
    <section class="main">
        <div class="drop-zone" id="drop-zone">
            <p>
                <span>Drag and drop</span> Files Here or click to browse!
            </p>
            <input type="file" id="file-input" accept="image/png, image/jpeg">
        </div>
        
        <div class="response-zone">
            <button class="cpy-btn btn-secondary" id="copyButton" onclick="copyText()">
                Copy
            </button>
            <textarea id="response" readonly class="response">
                {{output}}
            </textarea>
            
            <!-- <script>
                var fileContent = "{{ output|replace('\n', '\\n')|replace('\r', '\\r')|safe }}";
                var textarea = document.getElementById("response");
                textarea.value = fileContent;
            </script> -->
            
        </div>
    </section>
{% endblock %}
{% block script_file %}
    {{ url_for('static',filename='scripts/home/script.js') }}
{% endblock %}
