html {
  background: url("../../assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}
html body {
  color: white;
  background-color: transparent;
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}
html body section.hero {
  margin-bottom: 70vh;
  color: white;
}
html body section.hero .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/hero.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}
html body section.hero .hero-text {
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
html body section.hero .hero-text h1 {
  font-size: 3rem;
  margin-top: 1em;
  line-height: 3.3rem;
  font-weight: bold;
}
html body section.hero .hero-text .subhead {
  font-size: 1.4rem;
}
html body section.hero .hero-text .down-arrow {
  stroke: white;
  position: absolute;
  bottom: -5em;
  width: 1em;
  height: 5em;
}
html body section.hero .hero-text .down-arrow path {
  fill: white;
}
html body .more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
  margin-bottom: 10vh;
}
html body .more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}
html body .more-info .desc {
  line-height: 1.5rem;
  color: white;
}

@media only screen and (min-width: 680px) {
  html {
    background: url("../../assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  html body {
    color: white;
    background-color: transparent;
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
  }
  html body section.hero {
    margin-bottom: 80vh;
    color: white;
  }
  html body section.hero .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../assets/hero.jpg");
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;
  }
  html body section.hero .hero-text {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
  }
  html body section.hero .hero-text h1 {
    font-size: 3rem;
    margin-top: 1em;
    line-height: 3.3rem;
    font-weight: bold;
  }
  html body section.hero .hero-text .subhead {
    font-size: 1.4rem;
  }
  html body section.hero .hero-text .down-arrow {
    stroke: white;
    position: absolute;
    bottom: -5em;
    width: 1em;
    height: 5em;
  }
  html body section.hero .hero-text .down-arrow path {
    fill: white;
  }
}
@media only screen and (min-width: 920px) {
  html {
    background: url("../../assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  html body {
    color: white;
    background-color: transparent;
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
  }
  html body section.hero {
    color: white;
    height: auto;
    width: 40%;
    margin-bottom: 30em;
  }
  html body section.hero .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  html body section.hero .hero-text {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
  }
  html body section.hero .hero-text h1 {
    font-size: 3rem;
    margin-top: 1em;
    line-height: 3.3rem;
    font-weight: bold;
  }
  html body section.hero .hero-text .subhead {
    font-size: 1.4rem;
  }
  html body section.hero .hero-text .down-arrow {
    stroke: white;
    position: absolute;
    bottom: -5em;
    height: 5em;
    width: 1em;
  }
  html body section.hero .hero-text .down-arrow path {
    fill: white;
  }
  html body .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  html body .feature img {
    width: 25em;
  }
  html body .feature .content {
    text-align: right;
    width: 25em;
  }
  html body .feature.reverse {
    grid-template-areas: "left right";
  }
  html body .feature.reverse img {
    grid-area: left;
  }
  html body .feature.reverse .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    background: url("../../assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  html .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  html body {
    color: white;
    background-color: transparent;
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
  }
  html body section.hero {
    color: white;
    height: auto;
    width: 40%;
    margin-bottom: 30em;
  }
  html body section.hero .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  html body section.hero .hero-text {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
  }
  html body section.hero .hero-text h1 {
    font-size: 3rem;
    margin-top: 1em;
    line-height: 3.3rem;
    font-weight: bold;
  }
  html body section.hero .hero-text .subhead {
    font-size: 1.4rem;
  }
  html body section.hero .hero-text .down-arrow {
    stroke: white;
    position: absolute;
    bottom: -10em;
    width: 1em;
  }
  html body section.hero .hero-text .down-arrow path {
    fill: white;
  }
  html body .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0em;
  }
  html body .feature img {
    width: 25em;
  }
  html body .feature .content {
    text-align: right;
    width: 25em;
  }
  html body .feature.reverse {
    grid-template-areas: "left right";
  }
  html body .feature.reverse img {
    grid-area: left;
  }
  html body .feature.reverse .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}/*# sourceMappingURL=style.css.map */