<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="x-icon" href="../static/assets/webicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Abdallah{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        {% block cssdoc %}<link rel="stylesheet" href="../static/css/main.css">{% endblock %}
    </head>
    <body>
        <div class="hero-img"></div>
        <div class="wrapper">
            <header>
                <a href="home" class="logo">Abd<span>allah</span></a>
                <nav>
                    <svg class="close" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="11" x2="11" y2="1" stroke="black" stroke-width="2"/>
                        <line x1="1" y1="1" x2="11" y2="11" stroke="black" stroke-width="2"/>
                    </svg>
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a href="resources">Resources</a></li>
                        <li><a href="contributions">Contributions</a></li>
                        <li><a href="upload">Upload!</a></li>
                        
                    </ul> 

                    
                        
                        
                </nav>
                <svg class="menu" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 32H0V26.6667H24V32ZM48 18.6667H0V13.3333H48V18.6667ZM48 5.33333H24V0H48V5.33333Z" fill="white"/>
                </svg>
                
            </header>
            
            {% block content %}
            {% endblock %}
            
        </div>
        <div id="subscribe-popup" class="popup">
            <h3>We are so excited to have you!</h3>
            <form method="post">
              <label for="email-input">Email:</label>
              <input type="email" id="email-input" name="email" required>
              <button type="submit">Join</button>
            </form>
          </div>
          <script>
            const subscribeBtn = document.getElementById("subscribe-btn");
            const subscribePopup = document.getElementById("subscribe-popup");

            subscribeBtn.addEventListener("click", () => {
            subscribePopup.style.display = "block";
            });

            subscribePopup.addEventListener("click", (event) => {
            if (event.target === subscribePopup) {
                subscribePopup.style.display = "none";
            }
            });
          </script>
          <script>
            const menu = document.querySelector('.menu')
            const close = document.querySelector('.close')
            const nav = document.querySelector('nav')
        
            menu.addEventListener('click', () => {
                nav.classList.add('open-nav')
            })
        
            close.addEventListener('click', () => {
                nav.classList.remove('open-nav')
            })
            </script>
    </body>
    
    <footer>
        <div>
            <p><br><br> <br>
               
            </p>
        
        </div>
            <ul>
                <li>
                    Official Website of LIU
                </li>
                <li>I hope you liked my website!</li>
                <li>Contact me at: abdallah.abdelmoneim@my.liu.com</li>
                <li>1 University Plaza Brooklyn,NY, 11201</li>
                <li class="flask">Passionately from ZeinDev</li>
                <li class="flask">This website was made with Flask!</li>
            </ul>
        
    </footer>  
</html>