{% extends "base.html" %}{% block title %}Contributions{% endblock %}{% block cssdoc %}<link rel="stylesheet" href="../static/css/contributions.css">{% endblock %}

{% block content %}
    <section class="hero">
        <h1>My Work!</h1>
        <p class="subhead">Check out some of my contributions, apps and games!<br><br><br><br></p>
        <svg class="down-arrow" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
        </svg>
            
    </section>
    <section class="more-info">
        <div class="feature">
            <div class="content">
                <p class="title">File Organizer</p>
                <p class="desc">Organize your files now with our brand new File Organizer! Select any messy folder you have and let our app organize it using file extensions. Read more regarding our methods <a style="font-size: 1rem; text-decoration:underline;" href="underconstruction"> here.</a><br><br>
                    <a style="color: green;" href="https://drive.google.com/drive/folders/1LTnrENyHVbAGEQVGasefYZCV2T-srYNy?usp=sharing">Download it for free!</a><br>
                    <br></p>
                    <p style="font-size: 0.7rem; color:white;">Source code: <a style="color: blue; font-size: 0.7rem;" href="https://github.com/AbdallahZein12/projects/tree/main/File_Organizer">GitHub</a>  -  Developer: Pationately from ZeinDev<br>Languages and frameworks: Python 3.11 - PILLOW - os - Tkinter - shutill - pygam - datetime ----- PLATFORMS: Desktop</p>
            </div>
            <img src="../static/assets/FileOrganizer.jpg" alt="File Organizer Logo">
        </div>
        <div class="feature reverse">
            <div class="content">
                <p class="title">QRCode Generator</p>
                <p class="desc">Easily create custom colored QR Codes of your liking with this easily accessible and free QRCode Generator! Input your URL, select your colors and let us do the work all for free. Read more <a href="underconstruction" style="text-decoration:underline; color: blue; font-size:1rem;">here.</a><br><br>
                <a style="color: green;" href="https://drive.google.com/drive/folders/1_9zVH_Ybynx67lYtqfha0P9Y-DILfWEn?usp=sharing">Download it for free!</a><br>
                <br></p>
                <p style="font-size: 0.7rem; color:white;">Source code: <a style="color: blue; font-size: 0.7rem;" href="https://github.com/AbdallahZein12/projects/tree/main/QRCode_Generator">GitHub</a>  -  Developer: Pationately from ZeinDev<br>Languages and frameworks: Python 3.11 - PILLOW - os - Tkinter - shutill - pygam - datetime - traceback - qrcode ----- PLATFORMS: Desktop</p>
            </div>
            <img src="../static/assets/QRCode.jpg" alt="QRCode Generator Logo">
        </div>
        <div class="feature">
            <div class="content">
                <p class="title">Bob Smith & Bob Smith Answers!</p>
                <p class="desc">Use our discord bots to have your very own chatgpt on your discord server! Bob Smith Answers is powered with ChatSonic's API, just use the command /bobans followed by your question and let it do the magic!. Bob Smith likes to motivate so whenever he sees a sad word in the chat, he responds with a motivating message! Ask for inspiring quotes, ask for memes and more! Read more <a style="font-size: 1rem; color:blue; text-decoration:underline;" href="underconstruction">here.</a><br><br>
                <a style="color: green;" href="https://discord.com/api/oauth2/authorize?client_id=1084192998046302238&permissions=8&scope=bot">BobSmith</a><br>
                <a style="color: green;" href="https://discord.com/api/oauth2/authorize?client_id=1084274365849403493&permissions=8&scope=bot">BobSmith Answers</a><br><br>
                </p>
                <p style="font-size: 0.7rem; color:white;">Source code: <a style="color: blue; font-size: 0.7rem;" href="https://github.com/AbdallahZein12/projects/tree/main/discord_bots">GitHub</a>  -  Developer: Pationately from ZeinDev<br>Languages and frameworks: Python 3.11 - discord - os - requests - json - flask ----- PLATFORMS: Discord</p>
            </div>
            <img src="../static/assets/discord.jpg" alt="Discord Logo">
        </div>
        <div class="feature reverse">
            <div class="content">
                <p class="title">Live Chat</p>
                <p class="desc">Quickly set-up a private room and chat with ANYONE ANYWHERE! Use our simple and quick chatting website to set-up private chatting rooms and share your code with your friends to start chatting! Read more <a href="underconstruction" style="text-decoration:underline; color: blue; font-size:1rem;">here.</a><br><br>
                <a style="color: green;" href="https://livechat.liucscs.us">Find it here</a><br>
                <br></p>
                <p style="font-size: 0.7rem; color:white;">Source code: <a style="color: blue; font-size: 0.7rem;" href="https://github.com/AbdallahZein12/projects/tree/main/live_chat_room">GitHub</a>  -  Developer: Pationately from ZeinDev<br>Languages and frameworks: Python 3.11 - Flask - SocketIO - Requests  ----- PLATFORMS: Online</p>
            </div>
            <img src="../static/assets/livechat.jpg" alt="Live Chat Room Logo">
        </div>
        <div class="feature">
            <div class="content">
                <p class="title">Space Wars</p>
                <p class="desc">Want a challenge? We bet you can't make it past 100 seconds on this game! Space Wars is a Pygame classic that gets increasingly difficult over time. avoid all obstacles and be quick! Read more <a style="font-size: 1rem; color:blue; text-decoration:underline;" href="underconstruction">here.</a><br><br>
                <a style="color: green;" href="https://drive.google.com/drive/folders/11-OAfOKWXiFydxf3asoRdfh8LxJM-WW2?usp=sharing">Download it for free!</a><br><br>
                </p>
                <p style="font-size: 0.7rem; color:white;">Source code: <a style="color: blue; font-size: 0.7rem;" href="https://github.com/AbdallahZein12/projects/tree/main/space_war">GitHub</a>  -  Developer: Pationately from ZeinDev<br>Languages and frameworks: Python 3.11 - Pygame ----- PLATFORMS: Desktop</p>
            </div>
            <img src="../static/assets/spacewars.jpg" alt="Space Wars Logo">
        </div>

    </section>
    <script>
        const menu = document.querySelector('.menu')
        const close = document.querySelector('.close')
        const nav = document.querySelector('nav')
    
        menu.addEventListener('click', () => {
            nav.classList.add('open-nav')
        })
    
        close.addEventListener('click', () => {
            nav.classList.remove('open-nav')
        })
        </script>
    
{% endblock %}